.item img{
    max-width: 100%;
}

.slider{
    position: relative;
    height: 410px;
    width: 730px;
}

.slider .items{
    position: relative;
}

.items .item{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.8s;
}

.action .prev{
    position: absolute;
    top: 45%;
    display: flex;
    left: 2%;
    z-index: 2;
}

.action .next{
    position: absolute;
    top: 45%;
    right: 2%;
    z-index: 2;
}

.action i{
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.items .active{
    z-index: 1;
    opacity: 1;
}
.action{
    height: 100%;
}